/* line 17, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* variables for CSS */
/* SASS global */
/* line 37, ../sass/screen.scss */
body {
  overflow-x: hidden;
  font-family: "freight-text-pro", sans-serif;
}

/* line 42, ../sass/screen.scss */
html, body {
  height: 100%;
  min-height: 100%;
  position: relative;
}

/* line 48, ../sass/screen.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "jaf-bernino-sans", sans-serif;
  font-weight: 300;
  line-height: 1.2;
  font-size: 2.0em;
  color: #7c7b74;
  letter-spacing: -0.02em;
  margin-bottom: 2%;
  margin-top: 3%;
}

/* line 59, ../sass/screen.scss */
h3, h4, h5, h6 {
  margin-left: 12%;
}

/* line 63, ../sass/screen.scss */
h1 {
  font-size: 1.6em;
  font-family: "freight-text-pro", sans-serif;
  padding-top: 6%;
  padding-bottom: 10%;
  margin: 0 auto;
}

/* line 71, ../sass/screen.scss */
h2 {
  font-size: 1.5em;
  margin-left: 0;
}

/* line 76, ../sass/screen.scss */
h4 {
  font-size: 1.8em;
}

/* line 80, ../sass/screen.scss */
h5 {
  font-size: 1.4em;
  font-weight: 600;
}

/* line 85, ../sass/screen.scss */
h6 {
  font-size: 1.2em;
  font-weight: 100;
}

/* line 96, ../sass/screen.scss */
.message {
  margin-left: 5%;
  font-family: "jaf-bernino-sans", sans-serif;
  background-color: #fcf9e8;
  padding: 2%;
  width: 60%;
  font-size: 1em;
}

/* line 106, ../sass/screen.scss */
p {
  font-family: "freight-text-pro", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 1.5;
  color: #404040;
  letter-spacing: .01rem;
  margin-top: 2%;
  margin-bottom: 2%;
}

/* line 118, ../sass/screen.scss */
ul {
  font-family: "freight-text-pro", sans-serif;
  font-size: 22px;
  line-height: 1.5;
}

/* line 125, ../sass/screen.scss */
header {
  height: 60px;
  padding: 4% 5% 0% 5%;
  width: 100%;
  background-color: white;
  font-size: 1.6;
  border-bottom: 1px solid #fff;
  index-z: 1000;
}
/* line 134, ../sass/screen.scss */
header ul {
  float: right;
  width: 27%;
  font-family: "jaf-bernino-sans", sans-serif;
  font-size: 1em;
  font-weight: 100;
}
/* line 142, ../sass/screen.scss */
header ul li {
  display: inline;
  list-style: none;
  padding: 0 5% 0 5%;
}
/* line 148, ../sass/screen.scss */
header ul li:last-child {
  padding-right: 0;
  margin-right: 0;
}

/* line 156, ../sass/screen.scss */
h1 {
  padding: 4% 5% 5% 5%;
}
/* line 159, ../sass/screen.scss */
h1 span {
  font-family: "grafolita-script";
  font-size: 1.2em;
}

/* line 165, ../sass/screen.scss */
.abc {
  position: relative;
  -moz-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

/* line 173, ../sass/screen.scss */
.abc2 {
  position: fixed;
  margin-top: 0;
  padding-top: 3%;
  height: 60px;
  -moz-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
  border-bottom: 1px solid #e4e3df;
}

/* line 185, ../sass/screen.scss */
.name-logo {
  font-family: "grafolita-script";
  font-size: 2em;
}
/* line 189, ../sass/screen.scss */
.name-logo a {
  color: #343434;
}

/* line 200, ../sass/screen.scss */
a {
  color: #C3C1B9;
  text-decoration: none;
  -moz-transition: all .1s ease-in;
  -o-transition: all .1s ease-in;
  -webkit-transition: all .1s ease-in;
  transition: all .1s ease-in;
}

/* line 209, ../sass/screen.scss */
a:hover {
  color: #7C7B74;
  -moz-transition: all .1s ease-in;
  -o-transition: all .1s ease-in;
  -webkit-transition: all .1s ease-in;
  transition: all .1s ease-in;
}

/* line 217, ../sass/screen.scss */
section {
  width: 100%;
  height: 100%;
  margin: 0 5% 5% 0;
  overflow: hidden;
}
/* line 225, ../sass/screen.scss */
section .img-project {
  width: 400px;
  float: left;
  margin-left: 20%;
}
/* line 231, ../sass/screen.scss */
section .text-project {
  float: left;
  width: 500px;
}
/* line 237, ../sass/screen.scss */
section p {
  font-size: 1.1em;
  margin-bottom: 8%;
}

/* line 243, ../sass/screen.scss */
.container {
  margin: 100px 5%;
  overflow: hidden;
}

/* line 248, ../sass/screen.scss */
.section-in-project {
  margin-bottom: 3%;
  max-height: 480px;
}

/* line 253, ../sass/screen.scss */
.image-project {
  background-size: contain;
  background-repeat: no-repeat;
}

/* line 258, ../sass/screen.scss */
.image-project-1 {
  background-image: url("../../img/tonetable.jpg");
}

/* line 262, ../sass/screen.scss */
.image-project-2 {
  background-image: url("../../img/meuexame-capa.jpg");
}

/* line 266, ../sass/screen.scss */
.image-project-3 {
  background-image: url("../../img/tonetable.jpg");
}

/* line 270, ../sass/screen.scss */
.image-project-4 {
  background-image: url("../../img/tonetable.jpg");
}

/* line 274, ../sass/screen.scss */
.image-project-5 {
  background-image: url("../../img/tonetable.jpg");
}

/* line 278, ../sass/screen.scss */
#project-content {
  width: 70%;
  height: 500px;
  margin-left: 10%;
  padding-top: 5%;
}
/* line 284, ../sass/screen.scss */
#project-content img {
  width: 795px;
  border-left: 5px solid #ECEBE3;
  margin: 3% 5% 3% 12%;
}
/* line 290, ../sass/screen.scss */
#project-content .smaller-img {
  width: 795px;
  margin-left: 12%;
}

/* line 297, ../sass/screen.scss */
#project-content > p, ul, h3, h4 {
  margin-left: 12%;
  width: 80%;
  line-height: 170%;
}

/* line 303, ../sass/screen.scss */
footer {
  width: 100%;
  background-color: #343434;
  height: 200px;
  padding-top: 40px;
  bottom: 0;
  overflow: hidden;
}
/* line 311, ../sass/screen.scss */
footer p {
  font-family: "jaf-bernino-sans", sans-serif;
  font-weight: 300;
  font-size: 0.8em;
  color: white;
  margin-left: 5%;
}
/* line 319, ../sass/screen.scss */
footer ul {
  margin-left: 5%;
}
/* line 323, ../sass/screen.scss */
footer ul a li {
  display: inline;
  border: 1px solid #ff6138;
  padding: 5px 9px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  font-size: 0.8em;
  margin-right: 10px;
  -moz-transition: all .1s ease-out;
  -o-transition: all .1s ease-out;
  -webkit-transition: all .1s ease-out;
  transition: all .1s ease-out;
}
/* line 338, ../sass/screen.scss */
footer ul a li:hover {
  border: 1px solid white;
  background-color: #0b0b0b;
  color: white;
  -moz-transition: all .1s ease-out;
  -o-transition: all .1s ease-out;
  -webkit-transition: all .1s ease-out;
  transition: all .1s ease-out;
}
/* line 348, ../sass/screen.scss */
footer ul a {
  color: #ff6138;
}
/* line 353, ../sass/screen.scss */
footer #about {
  width: 48%;
  margin: 4% auto;
  padding: 6% 6%;
  opacity: 1;
}
/* line 360, ../sass/screen.scss */
footer div:last-child {
  background-color: #f5f5f3;
  font-family: "freight-text-pro", sans-serif;
}
/* line 366, ../sass/screen.scss */
footer div:last-child ul {
  margin: 0;
}
/* line 370, ../sass/screen.scss */
footer div:last-child ul li {
  display: inline;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 1.5;
  color: white;
  letter-spacing: .01rem;
}

/* line 382, ../sass/screen.scss */
.thanks {
  font-size: 0.8em;
  float: right;
}

/* line 387, ../sass/screen.scss */
#contact {
  margin-top: 10%;
  text-align: center;
  margin-left: 7%;
}

/* line 393, ../sass/screen.scss */
.profile-pic {
  width: 100px;
  border-radius: 50%;
  margin-right: 5%;
  margin-top: 5%;
  float: left;
}

/* line 401, ../sass/screen.scss */
.header-projects {
  width: 100%;
  background-color: #ecebe3;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
/* line 406, ../sass/screen.scss */
.header-projects div:first-child {
  margin-left: 18%;
  padding-top: 3%;
}
/* line 411, ../sass/screen.scss */
.header-projects h3 {
  margin-left: 18%;
  margin-top: 2%;
}
/* line 416, ../sass/screen.scss */
.header-projects p {
  margin-left: 18%;
  width: 60%;
  margin-top: 2%;
}
/* line 422, ../sass/screen.scss */
.header-projects div:last-child {
  font-size: 0.8em;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 18%;
  padding-bottom: 2%;
  padding-top: 2%;
}
/* line 431, ../sass/screen.scss */
.header-projects div:last-child span {
  font-family: "jaf-bernino-sans", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  padding-right: 1%;
  color: #404040;
}
/* line 439, ../sass/screen.scss */
.header-projects div:last-child span:last-of-type {
  padding-left: 5%;
}

/* line 445, ../sass/screen.scss */
iframe {
  margin-left: 12%;
}

/* line 449, ../sass/screen.scss */
.breadcrumbs {
  width: 15px;
  height: 15px;
  font-size: 1em;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
}

/* line 459, ../sass/screen.scss */
.breadcrumbs:hover {
  font-size: 1.2em;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
}

/* line 467, ../sass/screen.scss */
.end-text {
  width: 20%;
  height: 5px;
  border-top: 1px solid #C3C1B9;
  margin-left: 45%;
  padding-bottom: 5%;
}

/* line 476, ../sass/screen.scss */
.more-button-2 {
  font-family: "jaf-bernino-sans", sans-serif;
  font-size: 1em;
  padding: 10px 30px;
  border: solid 1px #ff6138;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  font-weight: 300;
  margin: 50px 0;
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  -ms-transition: all 0.1s ease-in;
}

/* line 492, ../sass/screen.scss */
.more-button-2:hover {
  background-color: #ff6138;
  border: solid 1px #ff6138;
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  -ms-transition: all 0.1s ease-in;
}

/* line 502, ../sass/screen.scss */
.link-more-button:hover more-button-2:after {
  content: 'ADD';
}

/* line 506, ../sass/screen.scss */
.link-more-button {
  color: #ff6138;
}

/* line 510, ../sass/screen.scss */
.link-more-button:hover {
  color: white;
}

/* line 514, ../sass/screen.scss */
.button-inside {
  background-color: #FF6138;
  padding: 15px 30px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-left: 45%;
  box-shadow: 2px 2px 3px #888888;
}
/* line 523, ../sass/screen.scss */
.button-inside a {
  font-family: "jaf-bernino-sans", sans-serif;
  color: white;
}

/* line 529, ../sass/screen.scss */
.div-sec {
  background-color: #f6f6f4;
}

/* line 533, ../sass/screen.scss */
.div-first {
  background-color: #ecebe3;
}
