@import "compass/reset";

/* variables for CSS */



$width-full-screen: 100%;
$width-half-screen: 34%;

$block-typeface: "freight-text-pro",sans-serif;
$font-normal-size: 1.4em;
$normal-lineheight: 150%;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}


/* SASS global */
body{
   height: 100%;
    overflow-x: hidden;
}

html, body{
    height: 100%;
}

h2{
    font-family: "freight-sans-pro",sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 2em;
    line-height: 250%;
}

header{
    height: auto;
    padding: 4% 10%;
    width: $width-full-screen;
    background-color: white;
    
    ul{
        font-family: $block-typeface;
        font-style: normal;
        font-weight: 400;
        font-size: 1.6em;
    }
    
    li{
        display: inline;
    }
    
    li:last-child{
        float: right;
        margin-right: 20%;
    }
}

img{
    min-height: auto;
    width: 100%;
}

p{
    font-family: $block-typeface;
    font-style: normal;
    font-weight: 400;
    font-size: $font-normal-size;
    line-height: $normal-lineheight;
    
}

h1{

}

header{
    width: $width-full-screen;
}

section{
    width: $width-full-screen;
    float: left;
    heigth: auto;
    
    div{
        
        float: left;
        height: auto;
        
        
    }
    
    .image-project{
        width: 50%;
        height: 500px;
//        background-image: url("../../img/");
//        background-size: contain;
//        background-repeat: no-repeat;
        max-width:100%;
        max-height:100%;
    }
    
    .text-project{
        width: $width-half-screen;
        background-color: #dbdacb;
        padding: 8% 8% 9% 8%;
        
    }
}

footer{
    width: $width-full-screen;
    
    div{
        width: 34%;
        float: left;
        padding: 8%;
    }
    div:first-child{
        background-color: pink;
    }
    
    div:last-child{
        background-color: yellow;
    }
}

