@import "compass/reset";

/* variables for CSS */



$width-full-screen: 100%;
$width-full-screen: 100%;
$width-half-screen: 34%;

$block-typeface: "ff-meta-serif-web-pro", sans-serif;
$font-normal-size: 1.4em;
$normal-lineheight: 150%;

$background-color-cinza: #ecebe3;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}


/* SASS global */
body{
    overflow-x: hidden;
}

html, body{
    height: 100%;
}

h1, h2, h3, h4, h5, h6{
    font-family: "brandon-grotesque", sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 250%;
    font-size: 2.6em;
}

h3, h4, h5, h6{
    margin-left: 12%;
}

h1{
    font-size: 1.8em;
    font-family: $block-typeface;
    padding-top: 4%;
}

h2{
    font-size: 1.8em;
    margin-left: 0;
}



blockquote{

}


p{
    font-family: $block-typeface;
    font-style: normal;
    font-weight: 400;
    font-size: $font-normal-size;
    line-height: $normal-lineheight;
    
}

ul{
    font-family: $block-typeface;
    font-size: $font-normal-size;
    line-height: $normal-lineheight;
}

header{
    height: auto;
    padding: 4% 10%;
    width: $width-full-screen;
    background-color: white;
    
    ul{
        font-size: 1.6em;
    }
}

img{
    min-height: auto;
    max-height: 500px;
    width: 100%;
}

section{
    width: $width-full-screen;
    float: left;
    height: 480px;
    background-color: $background-color-cinza;
    
    div{
        float: left;
        height: auto;
    }
    
    .image-project{
        width: 50%;
        height: 500px;
    }
    
    .text-project{
        width: $width-half-screen;
        background-color: $background-color-cinza;
        padding: 8% 8% 9% 8%;
    }
}

.section-in-project{
    margin-bottom: 3%;
    max-height: 480px;
}

.image-project{
    background-size: contain;
    background-repeat: no-repeat;
}

.image-project-1{
    background-image: url('../../img/tonetable.jpg');
}

.image-project-2{
    background-image: url('../../img/tonetable.jpg');
}

.image-project-3{
    background-image: url('../../img/tonetable.jpg');
}

.image-project-4{
    background-image: url('../../img/tonetable.jpg');
}

.image-project-5{
    background-image: url('../../img/tonetable.jpg');
}

#project-content{
	width: 70%;
	height: 500px;
	margin-left: 10%;
	padding-top: 15%;
}

#project-content > p, ul, h3, h4{
	margin-left: 12%;
    width: 90%;
	line-height: 170%;
}

#header-image{
	width: 100%;
	height: 380px;
	position: absolute;
	top: 0;
	left: 0;
	background-size: 1200px;
}

.header-image{
	background-image: url('img-header.jpg');
}

.header-image-2{
	background-image: url('img-header-2.jpg');
}

.header-image-3{
	background-image: url('img-header-3.jpg');
}

.header-image-4{
	background-image: url('img-header-4.jpg');
}

.header-image-5{
	background-image: url('img-header-5.jpg');
}

.header-image-6{
	background-image: url('img-header-6.jpg');
}

.header-image-7{
	background-image: url('img-header-7.jpg');
}

footer{
    width: $width-full-screen;
    
    div{
        width: 34%;
        float: left;
        padding: 8%;
    }
    div:first-child{
        background-color: pink;
    }
    
    div:last-child{
        background-color: yellow;
    }
}
