/* Clearfix */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}


@font-face {
    font-family: 'museo_slab500';
    src: url('fonts/Museo_Slab_500_2-webfont.eot');
    src: url('fonts/Museo_Slab_500_2-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Museo_Slab_500_2-webfont.woff') format('woff'),
         url('fonts/Museo_Slab_500_2-webfont.ttf') format('truetype'),
         url('fonts/Museo_Slab_500_2-webfont.svg#museo_slab500') format('svg');
    font-weight: normal;
    font-style: normal;

}


/* Basic Styles */
body {
	
}

img {
    max-width: 100%;
    height: auto;
}

p{
    font-family: 'museo_slab500', sans-serif;
    font-size: 0.8em;
    margin-left: 2%;
    color: #656565;
    
}

h2{
    font-family: 'museo_slab500', sans-serif;
    font-size: 1.5em;
    color: #f2665e;
    text-transform: uppercase;
    text-shadow: 2px 2px #f4f0ed;
    margin-left: 2%;
}

h3{
    font-family: 'museo_slab500', sans-serif;
    font-size: 1.2em;
    color: #f2665e;
    margin-left: 2%;
    color: #656565;
}

h4{
    font-family: 'museo_slab500', sans-serif;
    font-size: 1.2em;
    color: #f2665e;
    margin-left: 2%;
}

h5{
    font-family: 'museo_slab500', sans-serif;
    font-size: 1.2em;
    color: #656565;
    margin-left: 2%;
    text-align: center;
}

a{
    text-decoration: none;
}


/*-------------- NAV MENU -------------- */

.brand span{
    display:block;
    float:left;
    height:5px;
    width:25%
}
      
.brand .red{
    background:#f2665e
}
      
.brand .blue{
    background:#57cbf5
}
      
.brand .yellow{
    background:#fcb040
}
      
.brand .green{
    background:#6ac071
    }

nav {
	height: 60px;
	width: 100%;
	background: #f3f0ec;
    border-bottom: 1px solid #d6d0c7;
	font-size: 1.0em;
	font-family: 'museo_slab500', sans-serif;
	position: fixed;
    z-index: 100;
}

nav ul {
	padding: 0;
	margin: 0 auto;
	width: 900px;
	height: 40px;
}

nav li {
	display: inline;
	float: left;
    padding-top: 8px;
}

nav a {
	color: #6e6565;
	display: inline-block;
	width: 128px;
	text-align: center;
	text-decoration: none;
	line-height: 40px;
}

nav li:last-child a {
	border-right: 0;
}

nav a#pull {
	display: none;
}



/* flip link nav menu*/

.link-flip a {
	font-weight: 500;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
	-webkit-perspective: 600px;
	perspective: 600px;
	-webkit-perspective-origin: 50% 100%;
	perspective-origin: 50% 100%;
}

.link-flip a:hover,
.link-flip a:focus {
	color: #e74c3c;
}

.link-flip a::before,
.link-flip a::after {
	position: absolute;
	top: 0;
	left: -4px;
	z-index: -1;
	box-sizing: content-box;
	padding: 0 4px;
	width: 100%;
	height: 100%;
	content: '';
}

.link-flip a::before {
	background-color: #eae5de;
	-webkit-transition: -webkit-transform 0.2s;
	transition: transform 0.2s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	-webkit-transform: rotateX(90deg);
	transform: rotateX(90deg);
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
}

.link-flip a:hover::before,
.link-flip a:focus::before {
	-webkit-transform: rotateX(0deg);
	transform: rotateX(0deg);
}



/* --------------- SECTIONS ---------------- */



#home, #description, #prizes, #photos, #videos, #instructions, #submit{
    width: 100%;
    border-bottom: 1px solid #c7c0b5;
}

#home{
    height: 550px;
    background-color: #F2665E;
}

#description{
    height: 900px;
}

#prizes{
    height: 900px;
}

#photos{
    height: 900px;
}

#videos{
    height: 900px;
}

#instructions{
    height: 900px;
}

#submit{
    height: 700px;
    background-color: #eae5de;
}

/* --------------- SECTION 1 - HOME ---------------- */

.content{
    float: left;
    width: 60%;
    margin-left: 20%;
    height: 70%;
    margin-top: 5%;
}

.content-home{
    margin-top: 5%;
}

.title-competition{
    font-size: 2.8em;
    color: #f4f0ed;
    font-family: 'museo_slab500', sans-serif;
    text-transform: uppercase;
    text-shadow: 4px 4px #bd4c45;
}

.title-section{
    width: 50%;
    float: left;
}

.image-lewiswatson-section{
    width: 50%;
    float: left;
}

.lewis-watson-jpg{
    width: 370px;
    margin-left: 2%;
    margin-top: 20px;
    border-right: solid 4px #bd4c45;
    border-bottom: solid 4px #bd4c45;
}

.call-to-action{
    border: 1px solid #f4f0ed;
    border-radius: 5px;
    font-family: 'museo_slab500';
    font-size: 1.0em;
    color: #f4f0ed;
    text-align: center;
    padding: 20px 50px 20px 50px;
}

.title-section a:hover{
    background-color: #f4f0ed;
    color: #f06762;
    cursor: pointer;
    -o-transition:.3s;
  	-ms-transition:.3s;
  	-moz-transition:.3s;
  	-webkit-transition:.3s;
  	transition:.3s;
}

.logos{
    background-color: #fff;
    width: 100%;
    padding: 20px 0px 20px 0px;
    
}

.logos ul li{
    display: inline;
    text-decoration: none;
     padding-right: 40px;
}


.logo-section{
    width: 100%;
}


.footer-logos{
    text-align: center;
}
      
.mtds-logo{
    width: 150px;
}
.spotify-logo{
    width: 60px;
}
      
.warnermusic-logo{
    width: 120px;
}


/* --------------- SECTION 2 - HOW IT WORKS ---------------- */

.content-description{
    float: left;
    width: 70%;
    margin-left: 17%;
    height: 70%;
    margin-top: 5%;
}

.steps{
    background-color: #f2665e;
    border-radius: 5px;
    width: 20%;
    height: 370px;
    padding: 0.2% 1.6% 4% 2%;
    margin-right: 1%;
    float: left;
    margin-top: 5%;
}

.steps h4{
    color: #fff;
}

.steps p{
    color: #fff;
}

.template-thumbnail{
    float: right;
    width: 200px;
}

.icon-steps{
    font-size: 2em;
    text-align: center;
    text-shadow: 2px 2px #bd4c45;
    line-height: 10px;
    padding: 0px;
}

.number-steps{
    font-family: 'museo_slab500', sans-serif;
    font-size: 1.4em;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 2px 2px #bd4c45;
    margin-left: 2%;
}

.call-to-action-steps{
    border: 1px solid #f4f0ed;
    border-radius: 5px;
    font-family: 'museo_slab500';
    font-size: 1.0em;
    color: #f4f0ed;
    text-align: center;
    padding: 10px 15px;
    margin-left: 17%;
}

.call-to-action-steps:hover{
    background-color: #f4f0ed;
    color: #f06762;
    cursor: pointer;
    -o-transition:.3s;
  	-ms-transition:.3s;
  	-moz-transition:.3s;
  	-webkit-transition:.3s;
  	transition:.3s;
}

/* --------------- SECTION 3 - THE PRIZES ---------------- */

.content-prizes{
    float: left;
    width: 70%;
    margin-left: 17%;
    height: 70%;
    margin-top: 5%;
    background-color: white;
}

.content-prizes a{
    color: #f2665e;
}

.prizes-description{
    width: 26%;
    background-color: #f4f0ed;
    border-radius: 5px;
    margin-top: 8%;
    border: 1px solid #d6d0c7;
    float: left;
    margin-right: 1%;
    padding: 2%;
}

.prizes-description p{
    text-align: center;
}

.icon-prizes{
    font-size: 2em;
    text-align: center;
    line-height: 10px;
    padding: 0px;
    color: #fbb040;
}


/* --------------- SECTION 4 - PHOTOS ---------------- */

.content-photos{
    float: left;
    width: 70%;
    margin-left: 17%;
    height: 70%;
    margin-top: 5%;
}

/* ------- grid photos css -------- */

.list li {
    border-bottom: 1px solid #F2F1F2;
    display: table;
    border-collapse: collapse;
}

.li-img {
    display: table-cell;
    vertical-align: middle;
    width: 40%;
    height: 300px;
    padding-right: 1em;
    border: 1px #d6d0c7 solid;
    z-index: -1;
    overflow: hidden;
}

.info-product{
    height: 80px;
    background-color: #f4f0ed;
    width: 259px;
    position: absolute;
    margin-top: 220px;
    z-index: 50;
}

.link-image-title{
    font-family: 'museo_slab500', sans-serif;
    font-size: 0.8em;
    color: #656565;
    padding: 5px 0px 5px 10px;
}

.link-image-copy{
    font-family: "Courier New", Courier, monospace;
    font-size: 0.7em;
    padding-left: 3;
    margin-left: 10px;
    border: none;
    width: 90%;
    float: left;
}


/* --------------- SECTION 3 - VIDEOS ---------------- */

.content-videos{
    float: left;
    width: 70%;
    margin-left: 17%;
    height: 70%;
    margin-top: 5%;
}

.video-codes{
    width: 100%;
    float: left;
}

.video-iframe{
    width: 55%;
    float: left;
}

.video-iframe iframe{
    margin-left: 3%;
    padding: 5px;
}

.copy-embbed-code{
    width: 45%;
    float: left;

}
/* --------------- SECTION 4 - INSTRUCTIONS ---------------- */

.content-instructions{
    float: left;
    width: 70%;
    margin-left: 17%;
    height: 70%;
    margin-top: 5%;
}

.text-instructions{
    width: 45%;
    float: left;
    padding-right: 20px;
    line-height: 125%;
}

.video-instructions{
    width: 45%;
    float: left;
    margin-top: 12%;
}

.video-instructions p{
    
    line-height: 150%;
}




/* --------------- SECTION 5 - FORM ---------------- */

.content-submit{
    float: left;
    width: 70%;
    margin-left: 17%;
    height: 70%;
    margin-top: 5%;
}

.form-submit-website{
    width: 40%;
    margin-top: 2%;
    margin-left: 21%;
    background-color: white;
    padding: 40px;
    border: 1px solid #d6d0c7;
}

.form-submit-website label span{
    font-family: 'museo_slab500', sans-serif;
    font-size: 1.0em;
    margin-left: 2%;
    color: #656565;
    
}

.form-submit-website label input{
    margin-left: 2%;
    border: 1px solid #d6d0c7;
    padding: 13px 15px 13px 15px;
    color: #a5a5a5;
    font-size: 0.8em;
    font-family: sans-serif;
    width: 95%;
    margin-bottom: 20px;
    border-radius: 5px;
}

.form-submit-website label select{
    margin-left: 2%;
    border: 1px solid #d6d0c7;
    color: #a5a5a5;
    font-size: 0.8em;
    font-family: sans-serif;
    margin-bottom: 20px;
    width: 100px;
    height: 30px;
    
}

.form-submit-website button{
    margin-left: 12%;
    margin-top: 3%;
    border: 1px solid #f4f0ed;
    border-radius: 5px;
    font-family: 'museo_slab500', sans-serif;
    font-size: 1.0em;
    color: #fff;
    text-align: center;
    padding: 20px 50px 20px 50px;
    background-color: #f2665e;
    cursor: pointer;
}


/* --------------- ***** MEDIA QUERIES ***** -------------- */

/*Styles for screen 600px and lower*/
@media screen and (max-width: 600px) {
	nav { 
  		height: auto;
  	}
  	nav ul {
  		width: 100%;
  		display: block;
  		height: auto;
  	}
  	nav li {
  		width: 50%;
  		float: left;
  		position: relative;
  	}
  	nav li a {
		border-bottom: 1px solid #d6d0c7;
		border-right: 1px solid #d6d0c7;
	}
    
  	nav a {
	  	text-align: left;
	  	width: 100%;
	  	text-indent: 25px;
  	}
    
    .title-competition{
    font-size: 1.0em;
}
    
    
}

/*Styles for screen 515px and lower*/
@media only screen and (max-width : 480px) {
	nav {
		border-bottom: 0;
	}
	nav ul {
		display: none;
		height: auto;
	}
	nav a#pull {
		display: block;
		background-color: #d6d0c7;
		width: 100%;
		position: relative;
        border-bottom: 1px solid #d6d0c7;
	}
	nav a#pull:after {
		content:"";
		background: url('nav-icon.png') no-repeat;
		width: 30px;
		height: 30px;
		display: inline-block;
		position: absolute;
		right: 15px;
		top: 10px;
	}
    
    .title-competition{
    font-size: 1.5em;}
    
    .call-to-action{
    border: 1px solid #f4f0ed;
    font-size: 0.8em;
    padding: 10px;
    }
    
    .title-section{
    margin-top: 30px;
        width: 100%;
    }
    
    .image-lewiswatson-section{
    width: 100%;
        margin-top: 30px;
    }
    
    .lewis-watson-jpg{
    margin-left: 0;
    margin-top: 0;
    width: 200px;}
    
    .logos ul li{
    display: block;
    }
    
    .mtds-logo{
        width: 90px;
        
      }
    .spotify-logo{
            width: 50px;
        padding-bottom: 20px;
          }

    .warnermusic-logo{
            width: 90px;
        padding-bottom: 20px;
    }
    
    #photos{
        height: 2200px;
    }
    
    .content-photos{
        margin-left: 10%;
    }
    
    .list li{
        height: 50px;
    }
    
    .li-img{
        height: 100px;
    }
    
    .info-product{
    
    width: 200px;
    }
    
    
}


/*Styles for screen 800px max and 601px min*/
@media screen and (max-width: 800px) and (min-width: 601px) {
    
    .image-lewiswatson-section{
    width: 50%;
    }
    
    .lewis-watson-jpg{
    margin-left: 0;
    margin-top: 0;
    width: 200px;}
    
    
    
}

/*Smartphone*/
@media only screen and (max-width : 320px) {
	nav li {
		display: block;
		float: none;
		width: 100%;
	}
	nav li a {
		border-bottom: 1px solid #576979;
	}
   
}

@media all and (max-width: 1024px) {
  
     .content-photos{
        margin-left: 5%;
         width: 80%;
         background-color: purple;
    }
  
}

@media all and (min-width: 640px) {
  .list {
    padding: 0.5em;
    max-width: 70em;
    margin: 0 auto;
    overflow: hidden;
  }
  .list li {
    padding: 0.5em;
    display: block;
    width: 50%;
    float: left;
    background: none;
    border: 0;
  }
  .li-img, .inner {
    display: block;
    width: auto;
    padding: 0;
  }
  .li-text {
    padding: 0.5em 0;
  }
    
    
}

@media all and (min-width: 768px) {
 
    
}

@media all and (min-width: 800px) {
 
  
}


@media all and (min-width: 960px) {
  .list li {
    width: 261px;
  }
    
     
   
}

@media all and (min-width: 1024px) {
  
     
  
}

@media all and (min-width: 1276px) {
  
   
}
















/*
 * normalize ...
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
    display: block;
}

/*
 * Corrects `inline-block` display not defined in IE6/7/8/9 & FF3.
 */

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}
/*
 * Addresses styling for `hidden` attribute not present in IE7/8/9, FF3, S4.
 * Known issue: no IE6 support.
 */

[hidden] {
    display: none;
}


/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Corrects text resizing oddly in IE6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevents iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-size: 100%; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

/*
 * Addresses `font-family` inconsistency between `textarea` and other form
 * elements.
 */

html,
button,
input,
select,
textarea {
    font-family: sans-serif;
}

/*
 * Addresses margins handled incorrectly in IE6/7.
 */

body {
    margin: 0;
}



/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Removes border when inside `a` element in IE6/7/8/9, FF3.
 * 2. Improves image quality when scaled in IE7.
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

/*
 * Corrects overflow displayed oddly in IE9.
 */

svg:not(:root) {
    overflow: hidden;
}
